HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Node.js
node_modules/

# React, Angular, Vue.js
/build/
/dist/
/out/

# Laravel
/public/storage/
/storage/*.key
/vendor/

# Django
__pycache__/
*.pyc

# PHP 
*.log
/vendor/

### VS Code ###
.vscode/
