<div>
    <div class="container mt-5">
      <h1 class="text-center mb-4">Gestión de Usuarios</h1>
      <div class="row">
        @if (!isAddFormVisible) {
            <div class="col-12 d-flex">
                <button class="btn btn-primary" (click)="toggleAddFormVisibility()">
                  Añadir
                </button>
            </div>
        }
        <div class="col-12 mb-4">
            <!-- Aquí va la tabla de Usuarios desde UsersTableComponent -->
            <app-users-table
                [users]="users"
                (infoUser)="toggleInfoFormVisibility($event)"
                (editUser)="toggleEditFormVisibility($event)"
                (deleteUser)="deleteUser($event)">
            </app-users-table>
        </div>
        @if (isAddFormVisible) {
            <div class="col-12">
                <app-add-user-form
                    (cancel)="hideForm()"
                    (save)="createUser($event)">
                </app-add-user-form>
            </div>
        }
        @if (isEditFormVisible) {
            <div class="col-12">
                <app-edit-user-form
                    [user]="selectedUser"
                    (cancel)="hideForm()"
                    (save)="updateUser($event)">
                </app-edit-user-form>
            </div>
        }
        @if (isInfoFormVisible) {
            <div class="col-12">
                <app-info-user-form
                    [user]="selectedUser"
                    (cancel)="hideForm()">
                </app-info-user-form>
            </div>
        }
      </div>
    </div>
  </div>